<%- include("header.ejs")%>
<%- include("nav.ejs")%>

  <h1>create new password</h1>
  <form action="/sendmail" method="post">
    <input type="email" name="email" placeholder="Enter your new email"> <br> <br>
    <button>send mail</button> <br> <br>
  </form>



  <%- include("footer.ejs")%>